@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
.logo {
  font-family: 'Oleo Script', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,
    cursive;
}
